/**
 * Colour Pallette
 *
 *
 */

body {
    color: whitesmoke;
    background-color:black;
    width: 100%;
    font-size: 18px;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 2px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px, 100px 120px, 65px 128px, 25px 100px, 10px 50px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
  
.ml15 .word {
    display: inline-block;
    line-height: 1em;
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

.fa-stack {
    -webkit-text-stroke: 3px black;
    font-size: 0.75em;
    text-align: right;
}

.fa-moon {
    transform: translate(-5px, 1px);
}

a {
    color: inherit;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.shop {
    font-size: 1.25em;
}

@media only screen and (max-width: 426px) {
    body {
        font-size: 2vw;
    }

    .fa-stack {
        -webkit-text-stroke: 1px black;
    }

    .fa-moon {
        transform: translate(-2px, 0px);
    }
}